<!DOCTYPE html>
<html>
  <head>
    <title>勤怠システム</title>
    <meta name="勤怠を記録し、打刻の履歴を閲覧できるシステムです。" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/flash' %>
    <%= yield %>
  </body>
</html>
